@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500&display=swap');

*{
    color: lightgray;
    text-decoration: none;
    background-color: black;
}


.cancion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    flex-wrap: wrap;
}



.cancion-container h2{
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    letter-spacing: .06em;
    font-size: small;
    text-align: center;
    
}

.cancion-contenido {
    height: 190px;
    background: none;

}

.cancion-contenido img{
    width: 42%;
    border-radius: 13%;
    margin-top: 3%;
}

.cacion-tarjeta {
    width: 30%;
    text-align: center;
    margin-bottom: 3%;
    background-color: blueviolet;
}

p{
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}