
.cancion-tarjeta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
    background-color: blanchedalmond;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.cancion-tarjeta img{   /* cambiar tamaños */
    width: 60%;
}

.cancion-tarjeta p {
    text-decoration: none;
}

.cancion-tarjeta h2 {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.cancion-contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

